= link_to video_path(video.id) do
  .feature-container
    .front
      %feature
        = image_tag video.image.url(:thumb), class: 'thumbnail'
        .play-button

    .back
      %feature
        = image_tag video.image.url(:thumb), class: 'thumbnail'


.title= video.title
.director= "Dir. #{video.director}"