%h3.page-title reel

%section.videos
  %ul
    %li= render 'partials/video'
    %li= render 'partials/video'
    %li= render 'partials/video'
    %li= render 'partials/video'
    %li= render 'partials/video'
    %li= render 'partials/video'
    %li= render 'partials/video'
    %li= render 'partials/video'
    %li= render 'partials/video'